body {
    margin: 0;
    background: black;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
}

#verticalButtons {
    display: flex;
    flex-direction: column;
    padding-left: 1rem;
    padding-right: 1rem;
}

#verticalButtons span,
#verticalButtons label {
    border: none;
    border-radius: 15px;
    padding: 6px 6px 8px 6px;
    margin: 5px;
    cursor: pointer;
    background: white;
}

#btnSave:hover {
    background: lightgreen;
}

#btnDel:hover {
    background: indianred;
}

#btnExport:hover {
    background: lightblue;
}

#btnImport {
    display: none;
}

#btnImportLbl:hover {
    background: lightyellow;
}

#NNCanvas {
    background: darkgrey;
}

#roadCanvas {
    background: lightgray;
}

#divScores {
    text-align: center;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 30rem;
    height: 10rem;
    background: whitesmoke;
    border-radius: 2rem;
    display: none;
    opacity: 0;
    transition: opacity 1s;
}

#txtPopup,
#tblScores {
    max-width: fit-content;
    margin: auto;
    margin-top: 2.5rem;
    font-family: monospace;
    font-size: larger;
}

#divScoreboard {
    width: fit-content;
    margin: auto;
}